@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
}

.grid-bg {
  background-color: #f8fafc;
  background-image:
    linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
}

.dark .grid-bg {
  background-color: #111827;
  background-image:
    linear-gradient(to right, #0e0e0f 1px, transparent 1px),
    linear-gradient(to bottom, #0e0e0f 1px, transparent 1px);
  background-size: 24px 24px;
}

.header-bg {
  background-image:
    linear-gradient(rgba(88, 80, 236, 0.7),
      rgba(59, 130, 246, 0.7));
  background-size: cover;
  background-position: center;
}